Source: ros-jade-pepper-bringup
Section: misc
Priority: extra
Maintainer: Karsten Knese <karsten.knese@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pepper-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-naoqi-driver, ros-jade-pepper-description, ros-jade-pepper-sensors-py
Description: The pepper_bringup package
