Source: ros-indigo-pepper-sensors-py
Section: misc
Priority: extra
Maintainer: Surya Ambrose <surya.ambrose@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pepper-sensors-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-naoqi-sensors-py, ros-indigo-rospy
Conflicts: ros-indigo-pepper-sensors
Description: The pepper_sensors package
