Source: ros-jade-pepper-robot
Section: misc
Priority: extra
Maintainer: Karsten Knese <karsten.knese@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pepper-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-pepper-bringup, ros-jade-pepper-description, ros-jade-pepper-sensors
Description: The pepper_robot package
